<div class="dishPicBox">
</div>
<div>
	<div id="dishTitle">
		{{ dish.name }}
	</div>
	<div id="dishScorePct">
		<div id="dishScorePctFill" style="width:{{dish.avgScorePct}}%; background-color: {{dish.ratingColor}};">
			<img id="dishScorePctImg" src="img/empty5star256.png" />
		</div>

	</div>
	<div id="dishScore">
		{{dish.displayScore}}/5
	</div>
	<div id="numReviews">
		({{dish.numReviews}})
	</div>
	<div id="reviewList">
		<ul>
			<li ng-repeat="review in reviews">
				<div id="review">
					<div id="reviewHeader">
						<div id="reviewUserName">
							{{review.user.name}}
						</div>
						<div id="reviewScore">
							{{ review.score }}/5
						</div>
						<div id="reviewStarsBox">
							<div id="reviewStars" style="width:{{review.scorePct}}%; background-color: {{review.ratingColor}};">
									<img id="reviewStarsImg" src="img/empty5star-noborder256.png" />
							</div>
						</div>
					</div>
					<div id="reviewComments">
						{{review.comments}}
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div id="newReviewBox">
		<form name="newReviewForm">
			<input type="text" ng-model="newReviewScore" placeholder="Your rating" required/>
			<input type="text" ng-model="newReviewComments" placeholder="Your Review" required/>
			<button ng-disabled="newReviewForm.$invalid" ng-click="createReview(newReviewScore, newReviewComments)">Add review</button>
		</form>
	</div>
</div>
