<div class="dishPicBox">
</div>
<div>
	<div id="dishTitle">
		{{ dish.name }}
	</div>
	<div id="dishScore">
		score: {{dish.avgScore}}
	</div>
	<div id="numReviews">
		({{dish.numReviews}})
	</div>

	<div id="reviewList">
		<ul>
			<li ng-repeat="review in reviews">
				<div id="reviewScore">
					{{ review.score }}
				</div>
				<div id="reviewComments">
					{review.comments}}
				</div>
			</li>
		</ul>
	</div>

	<div id="newReviewBox">
		<form name="newReviewForm">
			<input type="text" ng-model="newReviewScore" placeholder="Your rating" required/>
			<input type="text" ng-model="newReviewComments" placeholder="Your Review" required/>
			<button ng-disabled="newReviewForm.$invalid" ng-click="createReview(newReviewScore, newReviewComments)">Add review</button>
		</form>
	</div>
</div>
